body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.circle{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}